TodoPago/lib/PaymentMethods.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://api.todopago.com.ar" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.todopago.com.ar">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://api.todopago.com.ar">
         <xs:element name="GetPromotions">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="MERCHANT" nillable="true" type="xs:string"/>
                  <xs:element name="PAYMENTMETHOD" nillable="true" type="xs:int"/>
                  <xs:element name="BANK" nillable="true" type="xs:int"/>
                  <xs:element name="AMOUNT" nillable="true" type="xs:float"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="PromotionsCollection" type="ns0:PromotionsCollection"/>
         <xs:complexType name="PromotionsCollection">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Promotion" type="ns0:Promotion"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Promotion">
            <xs:sequence>
               <xs:element name="Id" nillable="true" type="xs:integer"/>
               <xs:element name="RateId" nillable="true" type="xs:integer"/>
               <xs:element name="Name" nillable="true" type="xs:string"/>
               <xs:element name="Description" nillable="true" type="xs:string"/>
               <xs:element name="BuyerCfBonus" nillable="true" type="xs:integer"/>
               <xs:element name="SellerCfBonus" nillable="true" type="xs:decimal"/>
               <xs:element name="PromotionId" nillable="true" type="xs:integer"/>
               <xs:element name="Amount" nillable="true" type="xs:decimal"/>
               <xs:element name="Payment" nillable="true" type="xs:decimal"/>
               <xs:element name="Installments" nillable="true" type="xs:integer"/>
               <xs:element name="Coefficient" nillable="true" type="xs:decimal"/>
               <xs:element name="DirectRate" nillable="true" type="xs:decimal"/>
               <xs:element name="Tna" nillable="true" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="Get">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="MERCHANT" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Result" type="ns0:Result"/>
         <xs:complexType name="Result">
            <xs:sequence>
               <xs:element minOccurs="0" ref="ns0:PaymentMethodsCollection"/>
               <xs:element minOccurs="0" ref="ns0:BanksCollection"/>
               <xs:element minOccurs="0" ref="ns0:PaymentMethodBanksCollection"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="PaymentMethodsCollection" type="ns0:PaymentMethodsCollection"/>
         <xs:complexType name="PaymentMethodsCollection">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentMethod" type="ns0:PaymentMethod"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PaymentMethod">
            <xs:sequence>
               <xs:element name="Id" nillable="true" type="xs:string"/>
               <xs:element name="Name" nillable="true" type="xs:string"/>
               <xs:element name="Logo" nillable="true" type="xs:string"/>
               <xs:element name="ExpirationDateCheck" nillable="true" type="xs:string"/>
               <xs:element name="SecurityCodeLength" nillable="true" type="xs:integer"/>
               <xs:element name="SecurityCodeCheck" nillable="true" type="xs:boolean"/>
               <xs:element name="CardNumberLengthMax" nillable="true" type="xs:integer"/>
               <xs:element name="CardNumberLengthMin" nillable="true" type="xs:integer"/>
               <xs:element ref="ns0:CurrenciesCollection"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="CurrenciesCollection" type="ns0:CurrenciesCollection"/>
         <xs:complexType name="CurrenciesCollection">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Currency" type="ns0:Currency"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Currency">
            <xs:sequence>
               <xs:element name="Id" nillable="true" type="xs:string"/>
               <xs:element name="Name" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="BanksCollection" type="ns0:BanksCollection"/>
         <xs:complexType name="BanksCollection">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Bank" type="ns0:Bank"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Bank">
            <xs:sequence>
               <xs:element name="Id" nillable="true" type="xs:string"/>
               <xs:element name="Code" nillable="true" type="xs:string"/>
               <xs:element name="Name" nillable="true" type="xs:string"/>
               <xs:element name="Logo" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="PaymentMethodBanksCollection" type="ns0:PaymentMethodBanksCollection"/>
         <xs:complexType name="PaymentMethodBanksCollection">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentMethodBank" type="ns0:PaymentMethodBank"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PaymentMethodBank">
            <xs:sequence>
               <xs:element name="PaymentMethodId" nillable="true" type="xs:string"/>
               <xs:element name="BankId" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
         <xs:element name="DataServiceFault">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="current_params" type="xs:string"/>
                  <xs:element name="current_request_name" type="xs:string"/>
                  <xs:element name="nested_exception" type="xs:string"/>
                  <xs:element name="source_data_service">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="location" type="xs:string"/>
                           <xs:element name="default_namespace" type="xs:string"/>
                           <xs:element name="description" type="xs:string"/>
                           <xs:element name="data_service_name" type="xs:string"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ds_code" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="REQUEST_STATUS" type="xs:string"/>
         <xs:element name="DATA_SERVICE_RESPONSE">
            <xs:complexType>
               <xs:sequence>
                  <xs:any minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="GetPromotionsRequest">
      <wsdl:part name="parameters" element="ns0:GetPromotions"/>
   </wsdl:message>
   <wsdl:message name="GetPromotionsResponse">
      <wsdl:part name="parameters" element="ns0:PromotionsCollection"/>
   </wsdl:message>
   <wsdl:message name="DataServiceFault">
      <wsdl:part name="parameters" element="ns1:DataServiceFault"/>
   </wsdl:message>
   <wsdl:message name="GetRequest">
      <wsdl:part name="parameters" element="ns0:Get"/>
   </wsdl:message>
   <wsdl:message name="GetResponse">
      <wsdl:part name="parameters" element="ns0:Result"/>
   </wsdl:message>
   <wsdl:portType name="PaymentMethodsPortType">
      <wsdl:operation name="GetPromotions">
         <wsdl:input message="ns0:GetPromotionsRequest" wsaw:Action="urn:GetPromotions"/>
         <wsdl:output message="ns0:GetPromotionsResponse" wsaw:Action="urn:GetPromotionsResponse"/>
         <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:GetPromotionsDataServiceFault"/>
      </wsdl:operation>
      <wsdl:operation name="Get">
         <wsdl:input message="ns0:GetRequest" wsaw:Action="urn:Get"/>
         <wsdl:output message="ns0:GetResponse" wsaw:Action="urn:GetResponse"/>
         <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:GetDataServiceFault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PaymentMethodsSoap11Binding" type="ns0:PaymentMethodsPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetPromotions">
         <soap:operation soapAction="urn:GetPromotions" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="DataServiceFault">
            <soap:fault use="literal" name="DataServiceFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="Get">
         <soap:operation soapAction="urn:Get" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="DataServiceFault">
            <soap:fault use="literal" name="DataServiceFault"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="PaymentMethodsSoap12Binding" type="ns0:PaymentMethodsPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="GetPromotions">
         <soap12:operation soapAction="urn:GetPromotions" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="DataServiceFault">
            <soap12:fault use="literal" name="DataServiceFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="Get">
         <soap12:operation soapAction="urn:Get" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="DataServiceFault">
            <soap12:fault use="literal" name="DataServiceFault"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="PaymentMethodsHttpBinding" type="ns0:PaymentMethodsPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="GetPromotions">
         <http:operation location="GetPromotions"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="Get">
         <http:operation location="Get"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PaymentMethods">
      <wsdl:port name="PaymentMethodsHttpsSoap11Endpoint" binding="ns0:PaymentMethodsSoap11Binding">
         <soap:address location="https://10.123.4.121:8243/services/PaymentMethods.PaymentMethodsHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="PaymentMethodsHttpSoap11Endpoint" binding="ns0:PaymentMethodsSoap11Binding">
         <soap:address location="http://10.123.4.121:8280/services/PaymentMethods.PaymentMethodsHttpSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="PaymentMethodsHttpSoap12Endpoint" binding="ns0:PaymentMethodsSoap12Binding">
         <soap12:address location="http://10.123.4.121:8280/services/PaymentMethods.PaymentMethodsHttpSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="PaymentMethodsHttpsSoap12Endpoint" binding="ns0:PaymentMethodsSoap12Binding">
         <soap12:address location="https://10.123.4.121:8243/services/PaymentMethods.PaymentMethodsHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="PaymentMethodsHttpsEndpoint" binding="ns0:PaymentMethodsHttpBinding">
         <http:address location="https://10.123.4.121:8243/services/PaymentMethods.PaymentMethodsHttpsEndpoint"/>
      </wsdl:port>
      <wsdl:port name="PaymentMethodsHttpEndpoint" binding="ns0:PaymentMethodsHttpBinding">
         <http:address location="http://10.123.4.121:8280/services/PaymentMethods.PaymentMethodsHttpEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>